# Ver https://docs.github.com/get-started/getting-started-with-git/ignoring-files para más información sobre archivos ignorados.

# Dependencias (carpeta de módulos de node y logs)
/node_modules
npm-debug.log
yarn-debug.log
yarn-error.log

# IDEs y editores (archivos de configuración de distintos editores de código)
/.idea
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace
.vscode/*

# Específico de Angular (archivos generados por Angular)
/dist
/tmp
/out-tsc
/bazel-out
.angular

# Archivos del Sistema
.DS_Store
Thumbs.db

# Variables de Entorno (archivos con configuraciones sensibles)
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Archivos compilados y de salida
/dist
/tmp
/out-tsc
/bazel-out

# Archivo de registro de depuración
debug.log

# Directorio de cobertura usado por herramientas como istanbul
/coverage

# Misceláneos (otros archivos temporales y de caché)
/.sass-cache
/connect.lock
/coverage
/libpeerconnection.log
testem.log
/typings