/* You can add global styles to this file, and also import other style files */

/* Importar estilos de Angular Material */
@import '@angular/material/prebuilt-themes/indigo-pink.css';

/* Estilos globales */
html, body {
  height: 100%;
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.sidenav-container {
  height: calc(100vh - 64px);
}

.sidenav {
  width: 250px;
}

.container {
  padding: 20px;
}

/* Estilos para la tabla */
.mat-elevation-z8 {
  width: 100%;
  margin-top: 20px;
}

/* Estilos para los formularios */
form {
  max-width: 800px;
  margin: 0 auto;
}

/* Estilos para los botones */
button {
  margin-right: 8px;
}
